@model GestaoProjetos.DTO.ColaboradorTarefa

@{
    ViewData["Title"] = "Tarefas - Colaboradores";
}

<h2>Editar Tarefas - Colaboradores</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_ColaboradorTarefa" class="control-label"></label>
                <input asp-for="ID_ColaboradorTarefa" class="form-control" readonly />
                <span asp-validation-for="ID_ColaboradorTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarefa" class="control-label"></label>
                <select asp-for="Tarefa.Id_Tarefa" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Tarefas,"Id_Tarefa","Descricao"))"></select>
                <span asp-validation-for="Tarefa.Id_Tarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador" class="control-label"></label>
                <select asp-for="Colaborador.Id_Colaborador" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Colaboradores,"Id_Colaborador","Nome"))"></select>
                <span asp-validation-for="Colaborador.Id_Colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horas_Estimadas" class="control-label"></label>
                <input asp-for="Horas_Estimadas" class="form-control" />
                <span asp-validation-for="Horas_Estimadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
